<!-- mat card and form which allows the user to update their details. -->
<mat-card class="signup-card">
  <form (submit)="onSignup(postForm)" #postForm="ngForm">

    <mat-icon matPrefix>person_pin</mat-icon> &nbsp;
    <mat-form-field class="input-width">
      <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" ngModel required #firstName="ngModel">
      <mat-error *ngIf="firstName.invalid">Please enter a valid first name.</mat-error>
    </mat-form-field>

    <br>

    <mat-icon matPrefix>person_pin</mat-icon> &nbsp;
    <mat-form-field class="input-width">
      <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" ngModel required #lastName="ngModel">
      <mat-error *ngIf="lastName.invalid">Please enter a valid last name.</mat-error>
    </mat-form-field>

    <br>

    <mat-icon matPrefix>email</mat-icon> &nbsp;
    <mat-form-field class="input-width">
      <mat-label>Email</mat-label>
        <input matInput type="email" name="email" ngModel required #email="ngModel">
      <mat-error *ngIf="email.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <br>

    <mat-icon matPrefix>person</mat-icon> &nbsp;
    <mat-form-field class="input-width">
      <mat-label>User Name</mat-label>
        <input matInput type="text" name="userName" ngModel required minlength="3" #userName="ngModel">
      <mat-error *ngIf="userName.invalid">Please enter a valid user name.</mat-error>
    </mat-form-field>

    <br>

    <mat-icon matPrefix>verified_user</mat-icon> &nbsp;
    <mat-form-field class="input-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel required minlength="3" #password="ngModel">
      <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>

    <br>

    <button mat-button type="submit" color="primary" class="signup-button">
        SIGN UP &nbsp;
        <mat-icon matSuffix>send</mat-icon> 
    </button>
  </form>
</mat-card>