<mat-card class="add-card">
    <form (submit)="onAddProduct(postForm)" #postForm="ngForm">
  
      <mat-icon>games</mat-icon> &nbsp;
      <mat-form-field class="input-width">
        <mat-label>Product Title</mat-label>
        <input  matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a product title.</mat-error>
      </mat-form-field>

      <br>

      <mat-icon>videogame_asset</mat-icon> &nbsp;
      <mat-form-field>
        <mat-select [(ngModel)]="platform" required name="platform" placeholder="Platform">
          <mat-option value="PS4">PS4</mat-option>
          <mat-option value="XBOX">XBOX ONE</mat-option>
          <mat-option value="PC">PC</mat-option>
          <mat-option value="SWITCH">SWITCH</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-icon matPrefix>attach_money</mat-icon> &nbsp;
      <mat-form-field class="input-width">
          <mat-label>Price</mat-label>
          <input matInput type="number" name="price" ngModel required minlength="3" #price="ngModel">
          <span matPrefix>€&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="price.invalid">Please enter a valid price.</mat-error>
      </mat-form-field>
        
      <br>

      <mat-icon matPrefix>description</mat-icon> &nbsp;
      <mat-form-field class="input-width">
        <mat-label>Description</mat-label>
        <textarea matInput rows="4" name="description" ngModel required #description="ngModel"></textarea>
        <mat-error *ngIf="description.invalid">Please enter a valid description.</mat-error>
      </mat-form-field>

      <br>

      <mat-icon matPrefix>add_a_photo</mat-icon> &nbsp;
      <mat-form-field class="input-width">
          <mat-label>Image Link</mat-label>
          <input matInput type="text" name="link" ngModel minlength="3" #link="ngModel">
          <mat-error *ngIf="link.invalid">Please enter a valid link to your image.</mat-error>
        </mat-form-field>

      <br>

      <button mat-button type="submit" color="primary" class="add-button">
          Add Product
          <mat-icon matSuffix>send</mat-icon> 
      </button>
    </form>
  </mat-card>
