<!-- Responsive grid of mat cards that displays the products and the ability to add to cart and delete (if admin) -->
<!-- When the window is resized the column number changes. E.g if the window gets smaller there is less columns. -->

<mat-grid-list cols="{{columns}}" rowHeight="450px" (window:resize)="Resize($event)">
  <mat-grid-tile *ngFor="let product of products; index as i">
  
      <mat-card class="product-card">
        <mat-card-header>
          <img mat-card-avatar src="{{platformImage[i]}}" alt="Cannot display image">
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>{{ product.platform }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{product.link}}" alt="Cannot display image" class="display-image">
        <mat-card-content>
            <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            &nbsp;&nbsp;<b>€{{ product.price }}.00</b>
          <button mat-button color="primary" (click)="addToCart(product.title, product.platform, product.price)">ADD TO CART</button>

          <!-- Only displays if the user is the admin  -->
          <button mat-button *ngIf="userStorage.userName == 'Admin'" (click)="onDelete(product._id)" color="warn">DELETE</button>
        </mat-card-actions>
      </mat-card>

  </mat-grid-tile>
</mat-grid-list>