<!-- <mat-toolbar color='primary'>Posts</mat-toolbar> -->

<!-- <app-post-details></app-post-details> -->

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary"> Menu </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']">
                <mat-icon matListIcon>home</mat-icon> Home
            </a>
            <a mat-list-item [routerLink]="['/add']">
                <mat-icon matListIcon>add_circle</mat-icon> Add
            </a>
            <a mat-list-item [routerLink]="['/profile']">
                <mat-icon matListIcon>supervised_user_circle</mat-icon> Profile
            </a>
            <a mat-list-item [routerLink]="['/login']">
                <mat-icon matListIcon>person</mat-icon> Login
            </a>
            <a mat-list-item [routerLink]="['/signup']">
                <mat-icon matListIcon>person_add</mat-icon> Sign-Up
            </a>
            
        </mat-nav-list>
        
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary"> 
          <mat-toolbar-row>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon matListIcon>menu</mat-icon>
            </button>
            <h2>Video Game Shop</h2>

            <span class="spacer"></span>

            <mat-icon class="user-div" [routerLink]="['/profile']" *ngIf="userData != null" matListIcon>person</mat-icon>
            <p class="user-div"> {{userData.userName}}</p>
            
          </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar color="primary"> 
    <mat-toolbar-row>
        <span class="title-center">Video Game Shop</span>
    </mat-toolbar-row>
    
    <mat-toolbar-row>
      <button mat-button [routerLink]="['/home']" color="Warn">Home</button>
      <button mat-button [routerLink]="['/add']" color="Warn">Add Product</button>
    </mat-toolbar-row>
</mat-toolbar> 

<router-outlet></router-outlet> -->

<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" mode="push"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>G00348036</span>
      </mat-toolbar>

      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container> -->